---
layout: default
title: Donghoon Shin
description: HCI researcher | Ph.D. student at the University of Washington
---

{% assign projects = site.data.project-main.project %}
{% assign news = site.data.news.list %}

<div class="container pt-3 pb-4">
    <div class="container vertical-center">
        <div class="row">
            <div class="col-12 col-md-8 col-xxl-9 ps-0 align-self-center">
                <h3>PEACH</h3>
                <p class="mt-3">
                    <strong style="font-weight: 500;">P</strong>rivacy-
                    <strong style="font-weight: 500;">E</strong>nabling 
                    <strong style="font-weight: 500;">A</strong>I and 
                    <strong style="font-weight: 500;">C</strong>omputer-
                    <strong style="font-weight: 500;">H</strong>uman interaction Lab
                </p>
                <p>We are a group of researchers passionate about exploring the intersection of HCI, AI, and privacy. We believe that addressing privacy issues raised by AI requires not only model-centered approaches—approaches that improve the models—but also human-centered approaches—approaches that empower people.</p>
            </div>
            <div class="d-none d-md-block col-12 col-md-4 col-xxl-3 align-self-center text-center">
                <img src="/assets/images/lab-logo.jpg" class="w-100" style="max-width: 225px;" alt="Lab Logo"/>
            </div>
        </div>
    </div>
    <div class="container">
        <h4>Research Areas</h4>
        <ul>
            <li>Research Area 1</li>
            <li>Research Area 2</li>
            <li>Research Area 3</li>
        </ul>
    </div>

    <div class="container">
        <h4>Team Members</h4>
        <h5>Lab director (PI)</h5>
        <ul>
            <li>Tianshi Li</li>
        </ul>
        <h5>PhD student</h5>
        <ul>
            <li>Zhiping (Arya) Zhang</li>
        </ul>
        <h5>Interns</h5>
        <ul>
            <li>Zeya Chen</li>
            <li>Bingcan (Gloria) Guo</li>
            <li>William Namgyal</li>
            <li>Yaoyao Wu</li>
            <li>Eryue (Yolanda) Xu</li>
            <li>Jijie (Gigi) Zhou</li>
        </ul>
    </div>
    <div class="container">
        <h5>Recent Publications</h5>
        <div class="scroller">
            <div class="scroller-inner">
                {% for project in projects %}
                <div class="paper-container non-select">
                    <img src="{{ '/assets/images/main-project/' | append: project.image | relative_url }}" alt="" style="height: auto; width: 100%;">
                    <p class="pt-2 mt-md-2" style="font-size: .9rem; font-weight: 400 !important; line-height: 1.1rem; text-align: center;">{{ project.title }}{% if project.venue %}<a class="project-venue" href="{{ project.slug | prepend: 'publication/' | relative_url }}">{{ project.venue }}</a>{% endif %}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container" style="text-align: center; margin-top: auto;">
        <p>Our work has been supported by the following funding agencies: National Science Foundation, Google, and CMU CyLab.</p>
        <img src="/assets/images/logo/nsf_logo.png" alt="NSF Logo" style="width: 100px; height: auto; margin-right: 30px;">
        <img src="/assets/images/logo/google_logo.png" alt="Google Logo" style="width: 100px; height: auto; margin-right: 30px;">
        <img src="/assets/images/logo/cylab_logo.png" alt="CMU Logo" style="width: 100px; height: auto;">

    </div>
</div>

<script>
	function addAnimation(scrollers) {
		scrollers.forEach((scroller) => {
			scroller.setAttribute("data-animated", true);

			const scrollerInner = scroller.querySelector(".scroller-inner");
			const scrollerContent = Array.from(scrollerInner.children);
            
			scrollerContent.forEach((item) => {
				const duplicatedItem = item.cloneNode(true);
				duplicatedItem.setAttribute("aria-hidden", true);
				scrollerInner.appendChild(duplicatedItem);
			});
		});
	}
	const scrollers = document.querySelectorAll(".scroller");
	addAnimation(scrollers);
</script>
