<footer style="background: transparent; width: 100%;">
  <!-- <div class="row m-0"> -->
    <!-- <div class="col-12 col-md-3 col-sm-4 mb-4 mb-sm-0">
      <img src="{{ '/assets/images/main/logo-white.svg' | relative_url }}" alt="" style="height: 50px; width: auto; margin-top: .25rem;">
    </div> -->
    <div class="col-12 col-md-9 col-sm-8" style="text-align: center; background: -webkit-linear-gradient(left, #ce3914, #febb88); -webkit-background-clip: text; -webkit-text-fill-color: transparent; margin: 0 auto;">
      <p style="font-size:small; font-weight: medium !important; text-align: center;">PEACH Lab @ Khoury College of Computer Sciences, Northeastern University<br>Boston, MA 02115, United States</p>
      <!-- <a href="https://neu.edu/">
        <img src="{{ '/assets/images/main/neu-logo.svg' | relative_url }}" alt="" style="height: auto; width: 200px;">
      </a> -->
    </div>
  <!-- </div> -->
</footer>
